* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #067a51;
    --bg1: #90ECC5;
    --font: #08090B;
    --txt-font: #ffffff;
}

body {
    font-family: Arial;
    background-color: var(--font);
    color: #ffffff;
}

.hero {
    background-image: url("/mintlify-imgs/bg-dark.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.child {
    padding: 10px 60px;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    position: sticky;
    top: 0px;
    background: transparent;
    transition: all 0.3s ease;
    z-index: 100;
    height: 100%;
}

.logo {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px 20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 5px 12px;
    list-style: none;
}

nav button,
.start {
    border: none;
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.salebtn {
    background-color: #45464768;
    color: var(--txt-font);
}

nav ul li:hover {
    background-color: #4546474f;
    border-radius: 30px;
    cursor: pointer;
}

.intro {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 50vh;
}

.intro h1 {
    width: 450px;
    text-align: center;
    font-size: 45px;
}

.intro h3 {
    width: 400px;
    text-align: center;
    color: #ffffffd4;
    font-weight: 100;
}

.docs {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    padding: 6px 15px 7px 6px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #4546478b;
    cursor: pointer;
    color: var(--txt-font);
}

.new {
    padding: 1px 6px;
    background-color: var(--bg);
    border-radius: 20px;
    margin-right: 8px;
}

.btn:hover {
    background-color: #45464751;
}

#mail {
    border: none;
   padding: 5px 5px 5px 5px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #9a9ea05c;
    cursor: pointer;
}

#mail input {
    margin: 0px 10px;
    padding-right: 55px;
    background: none;
    border: none;
    font-size: 15px;
    color: #e0e0e5;
}