* {
    margin: 0;
    padding: 0;
}

:root {
    --bg: #067a51;
    --bg1: #90ECC5;
    --font: #08090B;
    --txt-font: #ffffff;
}

body {
    font-family: Arial;
    background-color: var(--txt-font);
    color: var(--font);
    background-image: url("/mintlify-imgs/bg-light.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 200vh;
}

.child {
    padding: 10px 45px;
}

header {
    color: var(--txt-font);
    height: 45px;
    width: 100%;
}

nav {
    color: var(--font);
    position: fixed;
    left: 0px;
    z-index: 1000;
    top: 0px;
    display: flex;
    padding-bottom: 100px;
    justify-content: space-evenly;
    align-items: center;
    padding: 8px;
    background: rgba(255, 255, 255, 0.010);
    backdrop-filter: blur(10px);

}

.logo {
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px 80px 0px 20px;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
}

nav ul li {
    padding: 5px 12px;
    list-style: none;
}

nav button,
.start {
    border: none;
    padding: 7px 14px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

.salebtn {
    background-color: #45464768;
    color: var(--txt-font);
}

nav ul li:hover {
    background-color: #4546474f;
    border-radius: 30px;
    cursor: pointer;
}

.intro {
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
    height: 50vh;
    margin-bottom: 140px;
}

.intro h1 {
    width: 450px;
    text-align: center;
    font-size: 45px;
}

.intro h3 {
    width: 400px;
    text-align: center;
    color: #ffffffd4;
    font-weight: 100;
}

.docs {
    display: flex;
    justify-content: center;
}

.btn {
    border: none;
    padding: 6px 15px 7px 6px;
    border-radius: 20px;
    font-size: 15px;
    background-color: #4546478b;
    cursor: pointer;
    color: var(--txt-font);
}

.new {
    padding: 1px 6px;
    background-color: var(--bg);
    border-radius: 20px;
    margin-right: 8px;
}

.btn:hover {
    background-color: #45464751;
}

#mail {
    border: none;
    padding: 5px 5px 5px 5px;
    border-radius: 30px;
    font-size: 15px;
    background-color: #9a9ea05c;
    cursor: pointer;
}

#mail input {
    margin: 0px 10px;
    padding-right: 55px;
    background: none;
    border: none;
    font-size: 15px;
    color: #e0e0e5;
}

.image img {
    border-radius: 20px;
    border: 3px solid #9a9ea044;
    border-bottom: 0px;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logos {
    margin: 90px 100px 150px 100px;

}

.logos ul {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    grid-template-rows: repeat(2, 80px);
}

.logos ul li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin-top: 500px;
}

.features {
    text-align: center;
}

.features h2 {
    font-size: 35px;
    margin: 20px;
}

.features h3 {
    text-align: center;
    font-weight: 100;
    font-size: 18px;
    width: 600px;
    margin: 0px 320px;
    color: #525252;
    line-height: 1.2;
}

.feat-image h5,
h4,
h6 {
    font-weight: 100;
    width: 450px;
}

.feat-image h4 {
    font-size: 25px;
}

.feat-image h5 {
    font-size: 16px;
    width: 450px;
    color: #504f4e;
}

.feat-image h6 {
    color: var(--bg);
    font-size: 15px;
}

.feat-show {
    display: flex;
    justify-content: space-evenly;
    margin: 10px 90px;
}

.feat-image {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
    border-radius: 20px;
    width: 450px;
    padding: 20px;
    margin: 5px;
    line-height: 1.5;
    background-color: var(--logo);
    border: 0.01px solid #ecebe6;
}

.feat-image img {
    padding: 0px;
}

.big-feat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 79%;
    margin: 0px auto;
}

.enterprise {
    margin: 100px 0px;
    background-color: #06080a0a;
    text-align: left;
    padding: 90px 130px;
}

.enterprise h5 {
    color: var(--bg);
    font-size: 15px;
    font-weight: 100;
}

.enterprise h3 {
    font-size: 33px;
    width: 400px;
}

.enterprise h4 {
    width: 600px;
}

.top {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    position: relative;
    margin-bottom: 40px;
}

.enterprise button {
    position: absolute;
    top: 110px;
    right: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--font);
    color: var(--txt-font);
}

.mid {
    display: grid;
    grid-template-columns: repeat(2, 480px);
    grid-template-rows: 200px;
    line-height: 1.5;
    padding-bottom: 50px;
}

.mid h3 {
    font-size: 18px;
    padding-bottom: 20px;
}

.mid img {
    padding-bottom: 20px;
}

.mid h4 {
    color: #504f4e;
    font-size: 14px;
    width: 430px;
}

.first h4 {
    font-size: 15px;
    width: 400px;
}

.first,
.second {
    width: 400px;
}

.dim-logos ul li {
    list-style: none;
}

.dim-logos ul {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 23px;
    padding-bottom: 40px;
}

.text h2,
.demo h2 {
    font-size: 35px;
}

.text h5,
.demo h4 {
    color: #504f4e;
    font-weight: 100;
    width: 570px;
    font-size: 16px;
}

.text h6 {
    color: var(--bg);
}

.user {
    width: 100%;

}

.user ul {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    width: 100%;

    justify-content: flex-start;
}

.user ul li {
    flex: 0 0 400px;
    /* FORCE width */
    list-style: none;
    color: #232323;
}

.pad {
    padding-left: 180px;
}

.padr {
    padding-right: 180px;
}

.user ul li img {
    padding-bottom: 10px;
}

.green {
    padding-top: 20px;
    padding-bottom: 20px;
    background: none;
    border: none;
    color: #504f4e;
    font-size: 15px;
}

.green:hover {
    color: var(--bg);
}

.arrow {
    width: 80px;
    margin: 40px 550px;
}

.arrow i {
    font-size: 25px;
}

.cta1 {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--font);
    color: var(--txt-font);
}

.cta2 {
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
    background-color: var(--txt-font);
    color: var(--font);
    border: 0.1px solid #6e6b69;
}

.cta2:hover {
    background-color: #4546474f;

}

.demo {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 23px;
    padding-bottom: 40px;
}

.demo h2 {
    width: 500px;
}

.demo h4 {
    padding-bottom: 40px;
}

.one,
.two {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-bottom: 40px;
    height: 250px;
}

.begin {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: 250px;
}

.one {
    border-right: 0.1px solid #aca9a64f;
}

.footbar {
    border-top: 0.1px solid #aca9a64f;
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 45px;
    /* padding-bottom: 15px; */
    width: 90%;
}

.social i {
    opacity: 0.6;
}

.social i:hover {
    opacity: 1;
}

.lead {
    color: #504f4e;
}

.everything {
    height: 100%;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 10px;
    padding: 80px;
    padding-top: 10px;
    font-size: 13px;
}
.everything ul{
    border-top: 0.1px solid #aca9a64f;
    width: 200px;
}
.everything li {
    list-style: none;
    padding: 6px;
    /* width: 100px; */
    margin: 25px;
}
footer .cont:hover{
    font-size: 13px;
     background-color: #4546471f;
    border-radius: 30px;
    cursor: pointer;
    padding: 6px;
}
.grade {
    display: flex;
    align-items: center;
 margin: 10px;
    padding: 80px;
    padding-top: 0px;
    border-top: 0.1px solid #aca9a64f;
}
.grade h4{
    width: 290px;
}
.system{
    background: none;
    border: none;
    background-color: #dbdbdb;
    padding: 6px;
    border-radius: 20px;
}
.copyright{
    display: flex;
    justify-content: space-between;
    align-items: center;padding:0px 120px 60px 120px;
}
.toggle {
    background-color: #d7d3d3;
    color: var(--font);
    padding: 0.3px;
    border-radius: 20px;
}
.toggle button {
    padding: 2px 6px;
    background: none;
    border: none;
    cursor: pointer;
}
.dark {
    background-color: #ebe9e9;
    border-radius: 40px;
    padding: 6px 12px;
}
.copyright h4{
    width: 150px;
}